<div class="grid grid-cols-1 lg:h-screen bg-no-repeat ">

  <div
    class="relative flex flex-row justify-center h-[80vh] lg:h-screen bg-[#b49963] bg-cover bg-center">

    <!-- Gradient Overlay to fade the background -->

    <!-- Content -->
    <div class="relative m-auto mx-12 text-white p-6 py-12 space-y-6 z-10 lg:space-y-12">
    
      <div class="flex justify-center">
        <img src="/assets/canvas/logo.webp" class="h-16 lg:h-32 object-scale-down -mt-2 sm:-mt-3" alt="">
      </div>

      <p class="text-xl hero_regular text-center max-w-5xl">
        Welcome to The Canvas, where a new era of urban living
          unfolds. 
          Nestled in the heart of Mtelo Estate, South C,
          Nairobi, this high-rise mixed-use development offers
          spacious 2 and 4 bedroom apartments complemented by
          top-tier rooftop amenities.

          Featuring a premium retail section for ultimate convenience
          and enjoyment, this Grade A residence stands at the
          forefront of mixed-use living which is rapidly emerging as
          the ideal solution for sustainable,
           efficient, and community-
          oriented lifestyles, aligning with modern needs.
      </p>

      <div class="flex w-full justify-center">
        <mat-button (click)="openDialog()" type="submit"
          class="border-white border rounded-xl text-white hover:text-[#e5b674] cursor-pointer text-xs sm:text-sm lg:text-lg px-5 py-3 sm:px-8 sm:py-3 lg:px-10 lg:py-3">
          <mat-icon class="-mb-2 lg:-mb-2 h-4">download</mat-icon>
          <span class="font-bold uppercase hero_regular">&nbsp;Download Brochure</span>
        </mat-button>
      </div>
    </div>
  </div>


</div>
