<div class="relative bg-[#996e4c] text-white overflow-hidden min-h-[60vh] px-4 lg:px-8 hero_regular" id="amenities">
  <!-- Pattern layer -->
  <div class="absolute inset-0 w-full bg-no-repeat bg-right bg-[length:auto_100%]
    [background-image:linear-gradient(to_right,rgba(153,110,76,1),rgba(153,110,76,0)),url('/assets/ivy/backgrounds/pattern.svg')]
    bg-blend-overlay opacity-10">
  </div>

  <!-- Centered Content Wrapper -->
  <div class="relative z-10 flex flex-col items-center justify-center min-h-[60vh] text-center">
    <!-- Intro Text -->
    <div class="max-w-3xl mx-auto mb-16">
      <p class="text-4xl lg:text-5xl mb-6 font-serif uppercase tracking-widest">
        The Heart Of <br> Ivy Park
      </p>
      <p class="text-base lg:text-lg font-light leading-relaxed max-w-2xl mx-auto hero_regular">
        The courtyard is the central feature of Ivy Park, designed to give
        residents more light, better airflow, and a quiet outlook that adds
        comfort to daily living. With landscaped greenery, water features,
        and seating areas, it creates a calm environment that every home
        looks onto, offering both visual appeal and practical value in the
        middle of Kilimani.
      </p>
    </div>
  </div>
</div>


<!-- ====== Brands Section End -->

<div class="grid grid-cols-1 w-full">

  <swiper-container class="Swiper lg:m-0 w-full" loop="true" [config]="swiperConfig" autoplay-delay="3000" speed="3000"
    navigation="true" autoplay="true" duration="4000">

    <swiper-slide class="swiperClass">
      <img src="/assets/ivy/exterior/courtyard_latest.webp"
        class="h-[60vh] lg:h-screen  object-cover lg:object-cover centered-image w-full" alt="" />
      <div class="absolute bottom-20 left-4 transform lg:ml-12  text-white">
        <div class="flex flex-col space-y-4">
          <span class="text-xl tcm uppercase lg:text-4xl font-semibold brightness-100 minion">
            The Central<br />
            Courtyard
          </span>


          <p class="text-xs lg:text-lg text-white text-left hero_regular">
            Right outside your door is a space made for pause and presence. <br>
            The courtyard is your everyday retreat, right at home
          </p>

        </div>

      </div>
    </swiper-slide>


    <swiper-slide class="swiperClass">
      <img src="/assets/ivy/exterior/courtyard5.webp"
        class="h-[60vh] lg:h-screen  object-cover lg:object-cover centered-image w-full" alt="" />
      <div class="absolute bottom-20 left-4 transform lg:ml-12  text-white">
        <div class="flex flex-col space-y-4">
          <span class="text-xl tcm uppercase lg:text-4xl font-semibold brightness-100 minion">
            The Central<br />
            Courtyard
          </span>


          <p class="text-xs lg:text-lg text-white text-left hero_regular">
            Right outside your door is a space made for pause and presence. <br>
            The courtyard is your everyday retreat, right at home
          </p>

        </div>

      </div>
    </swiper-slide>


    <swiper-slide class="swiperClass">
      <img src="/assets/ivy/exterior/creative3.webp"
        class="h-[60vh] lg:h-screen  object-cover lg:object-cover centered-image w-full" alt="" />
      <div class="absolute bottom-20 left-4 transform lg:ml-12  text-white">
        <div class="flex flex-col space-y-4">
          <span class="text-xl tcm uppercase lg:text-4xl font-semibold brightness-100 minion">
            Life Within
            Ivy Park
          </span>


          <p class="text-xs lg:text-lg text-white text-left hero_regular">
            The ground level at Ivy Park brings together
            cafés, shops, and daily essentials, <br> all just a few
            steps from your door. It’s a place that makes
            life simpler, <br> so you can focus on what matters
            most.
          </p>

        </div>

      </div>
    </swiper-slide>


     <swiper-slide class="swiperClass">
      <img src="/assets/ivy/exterior/yoga.webp"
        class="h-[60vh] lg:h-screen  object-cover lg:object-cover centered-image w-full" alt="" />
      <div class="absolute bottom-20 left-4 transform lg:ml-12  text-white">
        <div class="flex flex-col space-y-4">
          <span class="text-xl tcm uppercase lg:text-4xl font-semibold brightness-100 minion">
            Yoga
          </span>


         

        </div>

      </div>
    </swiper-slide>


     <swiper-slide class="swiperClass">
      <img src="/assets/ivy/exterior/gym.webp"
        class="h-[60vh] lg:h-screen  object-cover lg:object-cover centered-image w-full" alt="" />
      <div class="absolute bottom-20 left-4 transform lg:ml-12  text-white">
        <div class="flex flex-col space-y-4">
          <span class="text-xl tcm uppercase lg:text-4xl font-semibold brightness-100 minion">
              Modern Gym
          </span>


        </div>

      </div>
    </swiper-slide>





  </swiper-container>
</div>