<div class="grid grid-cols-12 bg-[url('/assets/ivy/backgrounds/linear.webp')] bg-center bg-cover bg-no-repeat  text-white" id="team">
 
  <section id="amenities_list_sec" class="flex flex-col justify-center section amenities_list_sec col-span-6 h-full">
    <div class="flex flex-col text-[#c0a2a0] justify-center min-h-[80vh] space-y-6">
      <p class="text-3xl  font-thin lg:text-5xl text-white text-center minion uppercase">
        Brought to life by
      </p>
     
      <div class="hero_regular">
        <p class="uppercase  text-white  text-xl text-center lg:text-xl">
          The Developers
        </p>
        <p class="text-white montserrat uppercase   text-center lg:text-md font-extralight">
          Rsun property developers ltd
        </p>
      </div>

      <div class="hero_regular">
        <p class="uppercase text-white  text-2xl text-center lg:text-xl">
          Development concept &amp;
        
          marketing design
        </p>
        <p class="text-white text-center lg:text-md font-extralight">
          KARIM CG VISUALS
        </p>
      </div>

    </div>
  </section>

   <div class="col-span-6 bg-black relative">
    <img class="h-full w-full object-cover" src="/assets/ivy/exterior/exterior2.webp" alt="Exterior">
  </div>


</div>
