<div class="relative bg-[url('assets/ivy/backgrounds/background.webp')] bg-cover bg-center min-h-[90vh] flex flex-col justify-between" id="footer">

  <!-- Brown Fade Overlay -->
  <div class="absolute inset-0 bg-gradient-to-t from-[#5e3b24] via-[#5e3b2480] to-transparent"></div>

  <!-- Top Content -->
  <section class="relative text-white uppercase flex flex-col justify-end py-32">
    <div class="text-xl">
      <div class="flex flex-col lg:pt-12 p-8">
        <img src="/assets/ivy/logo/rsun_logo.webp" class="h-20 lg:h-20 object-scale-down mx-auto" alt="" />
        <div class="h-12"></div>
        <div class="flex flex-col mt-4 minion text-2xl">
          <p class="h-fit text-center p-4">Contacts</p>
          <div class="flex uppercase justify-center flex-col">
            <a href="tel:+254799008564" class="h-fit minion text-center px-4">+254 799 008 564</a>
          </div>

          <a href="mailto:sales@canvas.co.ke" class="h-fit minion_pro_regular text-center px-4 minion">
            sales&#64;canvas.ke
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Bottom Logo -->
  <div class="relative py-6 text-center">
    <p class="text-white uppercase text-center text-xxs lg:text-xs montserrat tracking-widest leading-snug">
      Powered by <br>
      <a href="https://www.karimcgvisuals.com/" target="_blank" class="flex justify-center pt-2">
        <img src="/assets/kcg_logo.webp" alt="KarimCG Logo" class="h-6 lg:h-8">
      </a>
    </p>
  </div>

</div>
