<div class="grid grid-cols-1 w-full">

  <swiper-container
    class="Swiper lg:m-0 w-full   h-fit lg:h-screen"
    loop="true"
    [config]="swiperConfig"
    navigation="true"
    autoplay="true"
    autoplay-delay="3000"
    speed="3000"
    navigation="true"
    duration="4000"
  >

  <swiper-slide class="swiperClass">
    <img
      src="/assets/canvas_images/finalized_renders/kids_play_area2.webp"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
    />
  </swiper-slide>

  <swiper-slide class="swiperClass">
    <img
      src="/assets/canvas_images/finalized_renders/kids_play_area4.webp"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
      alt="Kids Play Area"
    />
  </swiper-slide>

  <swiper-slide class="swiperClass">
    <img
      src="/assets/canvas_images/finalized_renders/kids_playarea.webp"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
      alt="Kids play area"
    />
  </swiper-slide>

  <swiper-slide class="swiperClass">
    <img
      src="/assets/canvas_images/finalized_renders/kids_play_area2_vertical.webp"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
      alt="Kids play area"
    />
  </swiper-slide>

  </swiper-container>
</div>


