<div
  class="relative grid grid-cols-12 bg-[url('/assets/ivy/backgrounds/linear.webp')] bg-center bg-cover bg-no-repeat min-h-[80vh] text-white"
>

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/10"></div>

  <!-- Content Wrapper -->
  <div class="col-span-12 relative z-10 flex flex-col items-start justify-center w-full py-16">
    <!-- Headline -->
    <div class="w-full max-w-[80vw] mx-auto">
      <p class="uppercase text-xl lg:text-5xl font-serif tracking-wide text-left mb-12 drop-shadow-md py-12">
        What Your Home <br> Is Made Of
      </p>
    </div>

    <!-- Material Grid -->
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-7 gap-12 w-[80vw] max-w-[80vw] mx-auto">
      <img src="/assets/ivy/materials/refined_wood.webp" class="w-full h-full object-contain" alt="Refined wood">
      <img src="/assets/ivy/materials/polished_marble.webp" class="w-full h-full object-contain" alt="Polished marble">
      <img src="/assets/ivy/materials/textured_fabric.webp" class="w-full h-full object-contain" alt="Textured fabric">
      <div></div>
      <img src="/assets/ivy/materials/matte_gray.webp" class="w-full h-full object-contain" alt="Matte gray">
      <img src="/assets/ivy/materials/matte_black.webp" class="w-full h-full object-contain" alt="Matte black">
      <img src="/assets/ivy/materials/grey_cabinetry.webp" class="w-full h-full object-contain" alt="Grey cabinetry">
    </div>
  </div>

</div>