<section class="h-fit lg:px-6 bg-[#0d1428] lg:bg-[#04060C] lg:pt-0 lg:pb-12" id="gallery">
  <div class="flex flex-col space-y-8 uppercase mx-auto pb-16">


    <div class="grid gap-2 grid-cols-3 md:grid-cols-4">
      <div>
        <img
          class="hover:duration-700 object-cover object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/exterior/square.png"
          (click)="openImageDialog('/assets/images/exterior/square.png')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          (click)="openImageDialog('/assets/images/reception.jpeg')"
          src="/assets/images/reception.jpeg"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/exterior/rooftop6.jpg"
          (click)="openImageDialog('/assets/images/exterior/rooftop6.jpg')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/46.jpg"
          (click)="openImageDialog('/assets/images/46.jpg')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/exterior/lounge_people.jpg"
          (click)="openImageDialog('/assets/images/exterior/lounge_people.jpg')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/28.jpg"
          (click)="openImageDialog('/assets/images/28.jpg')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="hover:duration-700 object-cover object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/47.jpg"
          (click)="openImageDialog('/assets/images/47.jpg')"
          alt="image"
        />
      </div>
      <div>
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/enhanced.jpeg"
          (click)="openImageDialog('/assets/images/enhanced.jpeg')"
          alt="image"
        />
      </div>
      <div class="lg:hidden">
        <img
          class="object-cover hover:duration-700 object-center w-full lg:h-80 h-40 max-w-full"
          src="/assets/images/29.jpg"
          (click)="openImageDialog('/assets/images/29.jpg')"
          alt="image"
        />
      </div>
    </div>
  </div>
</section>
