<div id="floor_plans" class="h-fit w-full bg-[#f2e3c6] -z-10 poppins-semibold">
  <div class="flex flex-col -z-10 space-y-4 max-w-screen-xl mx-auto pt-16 lg:py-16 px-4">
    <span class="text-black tcm uppercase hero_regular text-center text-xl lg:text-4xl">
      Floor Plans <br>
    </span>


    <mat-tab-group class="h-full w-full py-12 bg-white/0" mat-align-tabs="center">
      <mat-tab class="text-black" label="TWO BEDROOM UNITS" [backgroundColor]="'black'" [color]="'black'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center  flex-col">

              <img src="/assets/floorplans/2bed.webp"
                class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl " loading="lazy" />
              <div class="text-black text-xl hero_regular">
                <p class="text-center">2 Bedroom Units, All Ensuite
                </p>
                <p class="text-center">With Cloakroom & 2 Balconies
                </p>
                <p class="text-center">Gross Area : 100 sqm</p>
                <p class="text-center font-bold">Price KES 8M</p>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>


      <mat-tab class="text-black" label="FOUR BEDROOM UNITS" [backgroundColor]="'black'" [color]="'black'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center  flex-col">

              <img src="/assets/floorplans/4bed.webp"
                class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl " loading="lazy" />
              <div class="text-black text-xl hero_regular">
                <p class="text-center">4 Bedroom Units, All Ensuite
                </p>
                <p class="text-center">With Cloakroom & 3 Balconies
                </p>
                <p class="text-center">Gross Area : 200 sqm</p>
                <p class="text-center font-bold">Price KES 18M</p>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>

      <mat-tab class="text-black" label="TYPICAL FLOORPLAN" [backgroundColor]="'black'" [color]="'black'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center  flex-col">

              <img src="/assets/floorplans/typical_plans.webp"
                class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl " loading="lazy" />
              <div class="text-black text-xl hero_regular">
                <p class="text-center font-bold uppercase">Inspired Design
                </p>
                <p class="text-center">Each floor of The Canvas offers a limited
                  selection of 3 x 100 sq m 2-bedroom and 2 x
                  200 sq m 4-bedroom + DSQ apartments.
                  These meticulously designed residences
                  feature spacious, open-plan layouts that
                  effortlessly blend style and practicality.
                </p>
              </div>
            </div>
          </div>
        </section>
      </mat-tab>

    </mat-tab-group>
  </div>



</div>