<div id="floor_plans"
  class="h-fit w-full bg-[#0a1b2b] -z-10 poppins-semibold">
  <div class="flex flex-col -z-10 space-y-4 max-w-screen-xl mx-auto pt-16 lg:py-16 px-4">
    <span class="text-white tcm uppercase amiri-slanted text-center text-xl lg:text-4xl">
      Floor Plans <br>
    </span>


    <mat-tab-group class="h-full w-full py-12 bg-[#0a1b2b]" mat-align-tabs="center">
      <mat-tab class="text-white" label="STANDARD ONE BEDROOM" [backgroundColor]="'white'" [color]="'white'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center  flex-col">

                <img src="/assets/images/34.png"
                  class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl "
                 loading="lazy" style="filter:grayscale(100%)" />
                <div class="text-white anglecia">
                  <p class="text-center">Apartment Type : B & F
                  </p>
                  <p class="text-center">Gross Area : 60 sqm</p>
                </div>
            </div>
          </div>
        </section>
      </mat-tab>

      <mat-tab class="text-white" label="PREMIUM ONE BEDROOM" [backgroundColor]="'white'" [color]="'white'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center flex-col">

                <img src="/assets/images/35.png"
                  class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl "
                  loading="lazy" />

                  <div class="text-white anglecia">
                    <p class="text-center">Apartment Type : C & G
                    </p>
                    <p class="text-center">Gross Area : 61 sqm</p>
                  </div>

            </div>
          </div>
        </section>
      </mat-tab>

      <mat-tab class="text-white" label="STANDARD TWO BEDROOM" [backgroundColor]="'white'" [color]="'white'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center flex-col">

                <img src="/assets/images/36.png"
                  class="mx-auto border object-scale-down h-[50vh] object-top shadow-2xl "
                  loading="lazy" />

                  <div class="text-white anglecia">
                    <p class="text-center">Apartment Type : D & H
                    </p>
                    <p class="text-center">Gross Area : 104 sqm</p>
                  </div>

            </div>
          </div>
        </section>
      </mat-tab>

      <mat-tab class="text-white" label="PREMIUM TWO BEDROOM" [backgroundColor]="'white'" [color]="'white'">
        <section class="mt-32">
          <div class="mx-auto px-4 sm:px-12 xl:max-w-6xl xl:px-0">
            <div class="space-y-6 md:flex lg:items-center flex-col ">

                <img src="/assets/images/37.png"
                  class="mx-auto border object-scale-down h-[50vh]  object-top shadow-2xl "
                  loading="lazy" />

                  <div class="text-white anglecia">
                    <p class="text-center">Apartment Type : A & E
                    </p>
                    <p class="text-center">Gross Area : 116 sqm</p>
                  </div>

            </div>
          </div>
        </section>
      </mat-tab>

    </mat-tab-group>
  </div>



</div>
