<div class="relative w-full min-h-[60vh] bg-[#f8edd8] bg-cover bg-center">
  <div class="grid grid-cols-8 gap-5 h-full">
    <!-- Left pillar -->
    <div class="flex justify-center items-center">
      <img src="/assets/pillar.webp"
           alt="pillar"
           class="h-full w-auto object-contain -ml-12" />
    </div>

    <!-- Main content -->
    <div class="col-span-6 flex flex-col justify-center items-center">
      <div class="grid grid-cols-4 gap-4 h-full">
        <!-- Text column -->
        <div class="flex flex-col justify-center text-center -ml-12">
          <p class="mb-8 text-4xl praetoria uppercase">Life designed <br> with intention</p>
          <p class="minion lg:text-md">
            From the moment you drive in, Hephè Palace frames life
            with ease and sophistication. The courtyard becomes a
            calm pause between the city and home, while the rooftop pool offers a private escape above it all. Whether
            entertaining, relaxing, or simply arriving, each detail is
            designed to elevate the everyday.
          </p>
        </div>

        <!-- Images -->
       <img src="/assets/lifestyle/4.webp" 
     alt="" 
     class="h-full object-contain transition-transform duration-300 ease-in-out hover:scale-105 hover:-translate-y-1">

<img src="/assets/lifestyle/2.webp" 
     alt="" 
     class="h-full object-contain transition-transform duration-300 ease-in-out hover:scale-105 hover:-translate-y-1">

<img src="/assets/lifestyle/3.webp" 
     alt="" 
     class="h-full object-contain transition-transform duration-300 ease-in-out hover:scale-105 hover:-translate-y-1">
 </div>
    </div>

    <!-- Right pillar -->
    <div class="flex justify-center items-center">
      <img src="/assets/pillar.webp"
           alt="pillar"
           class="h-full w-auto object-contain -mr-12" />
    </div>
  </div>
</div>
