<div id="residences" class="grid grid-cols-1 lg:grid-cols-2 lg:h-screen bg-no-repeat" id="residences">

  <!-- LEFT SECTION: Pattern with Text -->
  <div class="relative bg-white/50 flex items-center justify-center p-8 lg:p-16">

    <!-- Text Content -->
    <div class="relative z-10 max-w-2xl text-center">
      <p class="uppercase text-3xl lg:text-5xl font-serif hero_regular tracking-wide text-[#322017] pb-6">
        DISCOVER A NEW ERA OF INTERIOR DESIGN.
      </p>
      <p class="text-base lg:text-lg text-[#322017] leading-relaxed font-light hero_regular">
        This modern, minimalist space blends bold, unique
        elements with executive elegance. Experience a
        sophisticated yet vibrant environment where style
        meets substance.
      </p>
    </div>
  </div>

  <!-- RIGHT SECTION: Swiper -->
  <swiper-container class="Swiper lg:m-0 w-full h-fit lg:h-screen" loop="true" [config]="swiperConfig"
    navigation="true">

    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/kitchen/kitchen.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>


    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/kitchen/kitchen5.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>


    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/kitchen/kitchen3.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>

    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/1bedroom/bed2.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>

    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/2bedroom/bed4.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>

    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/3bedroom/bed1.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>



    <swiper-slide class="swiperClass relative">
      <img src="/assets/canvas/4bed/2.webp" class="h-[60vh] lg:h-screen object-cover w-full" alt="Living" />

    </swiper-slide>








  </swiper-container>

</div>