
<div class="grid grid-cols-12 w-full h-screen bg-[url('/assets/canvas_images/patterns/kids.webp')]">


  <div class="col-span-7 relative">
    <app-gallery></app-gallery>
  </div>

   <div class="col-span-5 flex flex-col justify-end py-12 lg:pt-0 lg:pb-12">
    <div class="m-auto border-l-2 border-black text-black p-12 lg:p-12 lg:pt-0">
      <p class="text-xl lg:text-8xl font-normal bollent uppercase">Young <br> canvas' <br> Corner</p>
      <p class="text-sm font-extralight acumin w-[90%]">
        A dedicated indoor play space offers children a safe, engaging <br> environment to explore, learn and grow.
      </p>
    </div>
  </div>

</div>


<div class="flex flex-col w-full uppercase bg-[#032725] py-32">
  <div class="grid grid-cols-12 text-xs gap-12">
    <div class="col-span-3"></div>
    <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/light_natural_wood.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">Light Natural Wood</p>
    </div>
   <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/soft_linen_upholstery.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">SOFT&nbsp;LINEN UPHOSTERY</p>
    </div>
    <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/stone_tile_wall.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">STONE TILE WALL</p>
    </div>

    <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/glass_panels.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">GLASS PANELS</p>
    </div>

    <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/polished_biege_marble.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">Polished Biege Marble</p>
    </div>
    <div class="col-span-1 flex flex-col">
      <img src="/assets/canvas_images/materials/brushed_gold_accents.jpg" alt="">
      <p class="text-center w-full fahkwang text-[#fabfbc] pt-2">Brushed&nbsp;Gold Accents</p>
    </div>
    <div class="col-span-3"></div>
  </div>
  <div class="flex justify-center py-12">
      <p class="text-xl lg:text-6xl text-[#fabfbc] pt-2 text-center font-normal bollent uppercase w-full">Built With Intention</p>
  </div>

</div>


<div class="grid grid-cols-12 w-full h-[75vh] bg-[url('/assets/canvas_images/patterns/lifestyle_background.webp')]">
  <div class="col-span-5 flex py-12 lg:pt-0 lg:pb-12">
    <div class="m-auto border-l text-[#7a513e] p-12 lg:p-12 lg:pb-0">
      <p class="text-xl lg:text-8xl font-normal bollent uppercase">Flourish <br> Here</p>
      <p class="text-sm font-extralight acumin w-[70%]">Located in Kileleshwa, canvas connects you
         to the best of both worlds; a home that nurtures family
         and mindfulness, with luxury boutique, vibrant cafes and fine
          dining right outside your door</p>
    </div>
  </div>

  <div class="col-span-7 relative">
    <img class="h-full w-full object-scale-down pr-12" src="/assets/canvas_images/patterns/lifestyle.webp" alt="">
  </div>

</div>
