<div class="grid grid-cols-1 w-full">

  <swiper-container
    class="Swiper lg:m-0 w-full   h-fit lg:h-screen"
    loop="true"
    [config]="swiperConfig"
    navigation="true"
  >

  <swiper-slide class="swiperClass">
    <img
      src="/assets/images/43.jpg"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
      alt="Exterior Night Image"
    />
  </swiper-slide>

  <swiper-slide class="swiperClass">
    <img
      src="/assets/images/47.jpg"
      class="h-[60vh] lg:h-screen  object-cover centered-image w-full"
      alt="Exterior Night Image"
    />
  </swiper-slide>


  </swiper-container>
</div>


