<div class="relative h-screen w-full" id="home">

  <!-- Background image -->
  <img src="/assets/canvas/exterior/landing.webp" class="absolute top-0 left-0 w-full h-full object-cover" alt="">

  <!-- Dark overlay -->
  <div class="absolute inset-0 bg-black/20"></div>
  <section class="relative flex flex-col justify-end h-full px-6 lg:px-16 pb-12 lg:pb-20">

    <!-- Content row -->
    <div class="flex flex-col lg:flex-row items-start lg:items-center justify-between w-full space-y-4 lg:space-y-0">
      <!-- Left text -->
      <div class="text-left max-w-3xl">
        <p class="uppercase text-3xl lg:text-4xl hero_regular font-light text-white leading-tight">
          Elevated Urban Living.
        </p>

        <p class="text-lg lg:text-xl hero_regular font-light text-white leading-tight mt-2">
          Invest in your future in South C, Nairobi with The Canvas Residency. <br>
          Luxury 4-bedroom apartments with a DSQ are available on a 3-year 0% interest payment plan.
        </p>
      </div>

      <!-- Right button -->
      <div class="flex justify-end lg:ml-8">
        <mat-button (click)="openDialog()" type="submit" class="border-[#b49963] bg-[#b49963] border rounded-xl text-white hover:text-[#e5b674] 
          cursor-pointer text-xs sm:text-sm lg:text-lg px-5 py-3 sm:px-4 sm:py-3 lg:px-6 lg:py-4 flex items-center">
          <mat-icon class="-mb-2 lg:-mb-2 h-4 pr-6">message</mat-icon>
          <span class="font-bold uppercase hero_regular">&nbsp;Inquire Today</span>
        </mat-button>
      </div>
    </div>

  </section>



</div>