<div class="grid grid-cols-2">
  <img src="/assets/ivy/unique.webp" alt="">
  <div class="relative bg-[#996e4c] ">
    <!-- Pattern layer -->
    <div class="absolute top-0 right-0 h-full w-[80%] 
    bg-no-repeat bg-right bg-[length:auto_100%] 
    bg-[url('/assets/ivy/backgrounds/pattern.svg')] 
    [background-image:linear-gradient(to_left,rgba(153,110,76,1),rgba(153,110,76,0)),url('/assets/ivy/backgrounds/pattern.svg')] 
    bg-blend-overlay opacity-10">
    </div>

    <!-- Content -->


    <div class="relative flex flex-col justify-center items-center text-white my-auto h-full">
      <div class="!mx-[12px] max-w-3xl text-left uppercase">
        <p class="text-4xl mb-6  hero_regular text-left pb-6">Property Highlights</p>

        <div class="grid grid-cols-3 items-center w-full mb-2 gap-4 hero_regular text-sm">
          <p class="text-left">Property Type</p>
          <hr class="border-t border-white w-full">
          <p class="text-right mx-12">Residential & Commercial</p>
        </div>

        <div class="grid grid-cols-3 items-center w-full mb-2 gap-4 hero_regular text-sm">
          <p class="text-left">Plot Area Size:</p>
          <hr class="border-t border-white w-full">
          <p class="text-right">0.4310 Hectares</p>
        </div>

        <div class="grid grid-cols-3 items-center w-full gap-4 hero_regular text-sm">
          <p class="text-left">Number of Bedrooms</p>
          <hr class="border-t border-white w-full">
          <p class="text-right">1, 2 & 3 Beds</p>
        </div>


        <p class="text-xs mb-6 hero_regular text-left normal-case pt-12">
          These highlights are more than numbers,
          they're the foundation of a lifestyle built around ease and convenience.
        </p>

      </div>
    </div>



  </div>
</div>